// .footer {
//   background-color: #212121;
//   color: #ffffff;

//   a {
//     text-decoration: none;
//     color: #a9a9a9;

//     &:hover {
//       color: #ffffff;
//     }
//   }

//   h6 {
//     font-size: 0.9rem;
//     font-weight: bold;
//     margin-bottom: 1rem;
//   }

//   ul {
//     padding: 0;
//     list-style: none;

//     li {
//       margin-bottom: 0.5rem;
//     }
//   }

//   .btn {
//     border-radius: 50px;
//   }

//   .footer-logo {
//     img {
//       max-width: 150px;
//     }
//   }
// }

// footer {
//   z-index: 5;
//   clear: both;
//   position: relative;
//   width: 100%;
//   background-color: #212121; /* màu tối cho footer */
//   color: #fff;
//   padding: 40px 0;
// }

.footer-marquee {
  background-color: #F6F6F6;
  color: black;
  height: 50px; /* Chiều cao 1 dòng */
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  flex-direction: column;
  // animation: scrollUp 10s linear infinite;
}

.line {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 14px;
}

.line.special {
  display: flex;
  justify-content: center;  /* Căn giữa các phần tử theo chiều ngang */
  align-items: center;  /* Căn giữa các phần tử theo chiều dọc */
  text-align: center;  /* Căn giữa chữ */
  height: 50px;  /* Đảm bảo dòng có chiều cao */
}

/* Animation chạy lên */
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}



